.commentPost {
    border: 1px rgb(219, 219, 219) solid;
    display : flex;
    align-items : center;
}

.commentPost img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

#textInput {
    width: 621px;
    height: 32px;
    margin-right: 10px;
    padding: 5px;
    color: #999999;
    font-size: 120%;
}

#submitInput {
    width: 82px;
    height: 25px;
    color: white;
    border-radius: 25px;
    border-style: none;
    background: #64BB91;
    box-shadow: 4px 4px 5px rgb(196, 196, 196);
}