.container {
    display: flex;
    background: #FAFAFA;
    padding: 15px;
}

#commentUserName {
    display: flex;
    align-items: flex-end;
    margin-bottom: 8px;
}

#commentInteractions {
    display: flex;
}

#commentUserName i {
    font-size: 120%;
    float: right;
    position: relative;
    right: -525px;
}

#commentAvatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

#commentUser {
    color: #64BB91;
    font-weight: bold;
    font-size: 120%;
}

#commentTime {
    font-size: 10px;
    color: #999999;
    padding-left: 8px;
}

#commentBody {
    margin-bottom: 8px;
    font-size: 120%;
    text-align: left;
}

.actionText {
    display: flex;
    color: #999999;
    align-items: center;
}

.actionText i {
    font-size: 20px;
    padding-right: 5px;
}

.actionText p {
    font-size: 14px;
    padding-right: 8px;
}

.actionText :hover{
    color: #64BB91;
}

#newCommentContainer {
    height: 70px;
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}