.container {
    display: flex;
    background: #FAFAFA;
    padding: 10px;
}

#replyUserName {
    display: flex;
    align-items: flex-end;
    margin-bottom: 8px;
}
#replyInteractions {
    display: flex;
}
#replyAvatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 52px;
}
#replyUser {
    color: #64BB91;
    font-weight: bold;
    font-size: 120%;
}
#replyTime {
    font-size: 10px;
    color: #999999;
    padding-left: 8px;
}
#replyBody {
    margin-bottom: 8px;
    font-size: 120%;
}

.actionText {
    display: flex;
    color: #999999;
    align-items: center;
}

.actionText i {
    font-size: 20px;
    padding-right: 5px;
}

.actionText p {
    font-size: 14px;
    padding-right: 8px;
}

.actionText :hover{
    color: #64BB91;
}

#replyContainer {
    height: 70px;
    display: flex;
    align-items: center;
}