#verified {
    position: relative;
    top: -50px;
    left: 10px;
    border-radius: 50%;
    padding-right: 2px;
    padding-left: 2px;
    background: #64BB91;
    color: white;
    font-size: 11px;

}